p {
    font-family: Lato;
  }
  
  .info-widget {
          width: 31.75%;
          border: 1px solid black;
          display: inline-block;
        }
  
        .middle {
          float: left;
          width: 90%;
          overflow: hidden;
          white-space: nowrap;
        }
        
      .container {
          display: flex;
          align-items: center;
          justify-content: space-between;
            overflow: hidden;
        }     

        .info-widget {
            display: inline-block;
            margin-right: 1rem; /* Adjust as needed */
        }
        
        .scroll-button {
            background-color: #fff;
            color: #4a5568;
            border: 1px solid #e2e8f0;
            border-radius: 9999px;
            padding: 0.5rem 1rem;
            font-size: 1rem;
            cursor: pointer;
        }
        
        .scroll-button:hover {
            background-color: #edf2f7;
        }
      
      
      .info-widget {
          padding: 10px;
          margin-right: 10px;
          background-color: #f0f0f0;
          min-width: 100px; /* Fixed width for each widget */
      }
      
      .info-widget:last-child {
          margin-right: 0; /* Remove margin for the last widget */
      }
      
      .info-widget::-webkit-scrollbar {
        display: none;
         }