<div class="container">
    <div>
        <button class="scroll-button" (click)="scrollLeft()">&lt;</button>
    </div>

    <div class="middle" #widgetsContent>
        <div class="info-widget">Card</div>
        <div class="info-widget">Token</div>
        <div class="info-widget">Amanty</div>
        <div class="info-widget">PayDirect</div>
        <div class="info-widget">WIDGET</div>
        <div class="info-widget">WIDGET</div>
    </div>

    <div>
        <button class="scroll-button" (click)="scrollRight()">&gt;</button>
    </div>
</div>