<div class="container">
                
    <div >
        <button class="scroll-button" (click)="scrollLeft()"><i class="fa fa-chevron-left"></i></button>
    </div>

        <div #widgetsContent class="middle">
            <div class="info-widget">Card</div>
            <div class="info-widget">Token</div>
            <div class="info-widget">Amanty</div>
            <div class="info-widget">PayDirect</div>
            <div class="info-widget">WIDGET</div>
            <div class="info-widget">WIDGET</div>
        </div>

    <div>
        <button class="scroll-button" (click)="scrollRight()"><i class="fa fa-chevron-right"></i></button>
    </div>

</div>