<div class="border border-emerald-100 rounded-3xl p-5">
    <div class="flex justify-between mt-5 items-center">
        <div class="flex items-center gap-3">
            <img class="w-12 h-12 rounded-full" src="../../../assets/img/card_payment.png" alt="">
            <p class="text-slate-500 font-light">a</p>
        </div>
        <div>
            <button class="px-5 py-2 bg-emerald-50 rounded-md text-opacity-80 text-emerald-600">a</button>
        </div>        
    </div>
    <h3 class="leading-tight mt-3 text-slate-700 transition-all duration-500 hover:text-emerald-600 font-semibold text-lg">
        a
    </h3>
    <img class="w-full rounded-2xl" src="../../../assets/img/carte-WORLD.png" alt="">
</div>