<div class="container px-0 hover:shadow-lg hover:bg-green-50 relative">
  <div class="absolute inset-0 bg-gradient-to-r from-emerald-400 to-emerald-100 shadow-md transform -skew-y-6 sm:skew-y-0 sm:-rotate-1 sm:rounded-3xl z-0"></div>

  <div class="card hover:bg-green-50 relative z-10" >

    <i class="text-slate-800 text-center block">amount: 1000 DH</i>
    <i class="text-slate-800 text-center block">name: anas</i>
    <i class="text-slate-800 text-center block">last name: anasri</i>
    <i class="text-slate-800 text-center block">email: ana.com</i>

  </div>
</div>
